{% extends "base.html" %}

{% block content %}
<div class="row d-flex justify-content-center mt-4">



    <div class="col-4">
        <div class="card bg-secondary border-0 mb-0">

            <div class="card-body px-lg-4 py-lg-4 ">
                <div class="row">

                    <div class="col" onclick="">
                        <div class="image-upload d-flex justify-content-center" style="cursor: pointer;">
                            <label for="image-input" style="cursor: pointer;">
                                <img src="{{game.imageb64}}" id="movieImage" b64=""
                                    class="card-img-top rounded" style="height: 100%; width: 100%;">
                            </label>

                            <input id="image-input" type="file" accept="image/png, image/jpeg" />

                        </div>
                        <label class="h6 text-white">Zdjęcie (kliknij na zdjęcie aby zmienić)</label>
                    </div>
                </div>
                <hr>
                <form method="POST" action="/api/savegame/{{game.id}}">
                    
                    <input type="hidden" name="imageb64" value="{{game.imageb64}}" id="imageB64">


                    <div class="form-group mt-2">
                        <input class="form-control" placeholder="Name" type="text" name="name" value="{{game.name}}">
                    </div>
                    <div class="form-group mt-2">
                        <textarea class="form-control" placeholder="Description" type="text"
                            name="description">{{game.description}}</textarea>
                    </div>
                    <div class="text-center mt-2">
                        <button class="btn btn-primary" type="submit">
                            Save
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', () => {
        document.getElementById("image-input").addEventListener("change", readFile);
    });
    function readFile() {
        if (this.files && this.files[0]) {

            var FR = new FileReader();

            FR.addEventListener("load", function (e) {
                let image = new Image();
                image.src = e.target.result;
                image.onload = function () {
                    if (image.width !== image.height) {
                        Swal.fire(
                            'Błąd!',
                            'Zdjęcie musi mieć format 1:1 !',
                            'error');
                        return;
                    }
                    document.getElementById("movieImage").src = image.src;
                    document.getElementById("imageB64").setAttribute('value', image.src);
                };


            });

            FR.readAsDataURL(this.files[0]);
        }
    }
</script>
<style>
    .image-upload>input {
        display: none;
    }
</style>
{% endblock %}